@{
    ViewBag.Title = "Welcome";
}

<div class="jumbotron">
    <h1>Welcome to Bar Academy</h1>
    <p class="lead">Order your drink below or click the links at the top to manage drinks</p>
    <input type="button" value="Order Drink" class="btn btn-primary btn-lg" onclick="location.href='@Url.Action("Create", "DrinkOrders")'" />
</div>